<h1>Rainforest</h1>
<h2>All Products Page</h2>
<%= link_to "Create Account", new_user_path%> | <%= link_to "Log In", new_session_path %> <br>
<%= link_to "Add New Product", new_product_path%>
<% @products.each do |product| %>
  <h3><%= link_to "#{product.name}", "/products/#{product.id}" %></h3>
  <p><%= link_to "#{product.description}", "/products/#{product.id}" %></p>
  <p>$<%= product.formatted_price%></p>
<% end %>

